*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}


.navbar{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(55, 3, 104);
    color: white;
    padding: 2vh;
    .links{
        display: flex;
        justify-content: space-between;
        width: 25%;
        a{
            color: white;
            text-decoration: none;

        }
    }
}